@import url('https://fonts.cdnfonts.com/css/effra-trial');    
          
          
          .footer {
            background-color: #00493D;
            color: white;
            padding: 40px 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
          }
      
          .footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            max-width: 1200px;
            margin: auto;
          }
      
          .footer-column {
            flex: 1 1 200px;
            max-width: 300px;
          }
      
          .footer-column h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: white;
          }
      
          .footer-column a {
            color: white;
            text-decoration: underline;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 1.3em;
          }
      
          .footer-column p {
            margin: 0 0 10px;
            color: white;
            font-size: 1.3em;
          }
      
          .footer-bottom {
            margin-top: 90px;
            font-size: 0.9em;
            color: white;
          }
      
          .footer-bottom p {
            color: white;
            font-size: 1.2em;
          }
      
          .footer-bottom a {
            color: white;
            font-weight: bold;
            text-decoration: underline;
          }


          .scroll-top-btn {
            font-family: 'Effra Trial', sans-serif;
            font-weight: 700;
            position: fixed;
            right: 30px;
            bottom: 30px;
            background-color: #00493D;
            color: white;
            border: 2px solid white;
            padding: 20px 30px;
            border-radius: 10px;
            font-size: 25px;
            cursor: pointer;
            display: none;
            transition: background-color 0.3s ease, transform 0.2s ease;
            z-index: 999;
          }
          
         
      
          @media (max-width: 768px) {
            .footer-container {
              flex-direction: column;
              align-items: center;
            }
          }

          @media (max-width: 768px) {
            .scroll-top-btn {
              padding: 14px 24px;
              font-size: 14px;
              right: 15px;
              bottom: 20px;
            }
          }
          
          @media (max-width: 480px) {
            .scroll-top-btn {
              padding: 12px 20px;
              font-size: 13px;
              right: 10px;
              bottom: 15px;
            }
          }