@import url('https://fonts.cdnfonts.com/css/effra-heavy');

/* RESET & BASICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Effra Heavy', sans-serif;
    background-color: white;
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00493D; 
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
  }



  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 10rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
  }
  
  .nav-links a:hover {
    opacity: 0.8;
  }
  
 
  .button {
    background-color: #F7F4EA; 
    color: #1f3c34;
    padding: 1.5rem 3.5rem;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  
 
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }
  
 
  @media (max-width: 768px) {

    .hamburger {
      display: flex;
    }
  
    
    .navbar {
      align-items: flex-start;
    }
  
   
    .nav-links {
      display: none;
      flex-direction:column;
      width: 100%;
      background-color: #00493D;
      padding-top: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center; 
      gap: 2.5rem;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links a {
      padding: 1rem;
      font-size: 1rem;
      border-bottom: 1px solid white;
    }
  
    .button {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      font-size: 1rem;
    }
  
    .logo img {
      height: 70px; 
    }
  
    .tagline {
      font-size: 0.75rem;
    }
  }
  