@import url('https://fonts.cdnfonts.com/css/erica-one');
@import url('https://fonts.cdnfonts.com/css/effra-heavy');
@import url('https://fonts.cdnfonts.com/css/effra-trial');         




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F7F4EA;
    color: #222;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
  }
  
 
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

  .section {
    margin-bottom: 3rem;
    width: 100%;
  }
  

  .image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 1rem auto;
    display: block;

  }
  

  h1 {
    font-size: 2.5rem;
    color: #00493D;
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-family: 'Effra Heavy', sans-serif;
  }
  
  h2 {
    font-size: 1.4rem; 
    color: black;
    margin: 1.2rem 0 0.5rem;
    font-family: 'Effra Heavy', sans-serif;
      
  }
  
  p {
    font-size: 1rem;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Effra Trial', sans-serif;
  }
 
  a {
    color: black;
  }

  .styled-line1 {

    height: 5px;
    width: 20%;             
    background-color: #E84F25;
    border: none;
    margin: 0.5rem auto 2rem auto; 
    border-radius: 2px;
  }
  

  .styled-line2 { 
    height: 5px;
    width: 20%;             
    background-color: #00493D;
    border: none;
    margin: 0.5rem auto 2rem auto; 
    border-radius: 2px;
  }


  .styled-line3 {
    height: 5px;
    width: 20%;             
    background-color: #00493D;
    border: none;
    margin: 0.5rem auto 2rem auto; 
    border-radius: 2px;
  }


  .styled-line4 {
    height: 5px;
    width: 20%;             
    background-color: #E84F25;
    border: none;
    margin: 0.5rem auto 2rem auto; 
    border-radius: 2px;
  }


  .styled-line5 {
    height: 5px;
    width: 70%;             
    background-color: #00493D;
    border: none;
    margin: 0.5rem auto 2rem auto; 
    border-radius: 2px;
  }


  @media (min-width: 768px) {
    h1 {
      font-size: 4.4rem;
    }
  
    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 2rem;
    }
  }
  
  